/*Tipografia*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway:wght@100&display=swap');

/*font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;*/

/* CREANDO ESTILOS CON CSS*/
:root{
    /*Pallet color*/
    --primary-solid: #4fedf7;
    --primary-900: rgb(79, 237, 247, 0.9);
    --primary-500: rgb(79, 237, 247, 0.5);
    --primary-300: rgb(79, 237, 247, 0.3);

    --secundary-solid:#28c7d2;
    --secundary-900:rgb(40, 199, 210, 0.9);
    --secundary-500:rgb(40, 199, 210, 0.5);
    --secundary-300:rgb(40, 199, 210, 0.3);
     
    --tertiary-solid: #00a1ac;
    --tertiary-900: rgb(0, 161, 172, 0.9);
    --tertiary-500: rgb(0, 161, 172, 0.5);
    --tertiary-300: rgb(0, 161, 172, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /*Tipogragrafias*/

    --base-font:'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    
    /* Font-sizes */
    /* Buenas practicas usar (em) un em=16px, pero hakeamos y lo pasamos a 1em=10px */
    --font-display:4.6em;
    --font-jumbo:3.8em;
    --font-xlager:3em;
    --font-lager:2.4em;
    --font-medium:1.8em;
    --font-small:1.6em;
    --font-xsmall:1.4em;
    --font-xxsmall:0.8em;

    /*Spacings-espaciadores*/
    --spacing-128:12.8rem;
    --spacing-68:6.8rem;
    --spacing-36:3.6rem;
    --spacing-28:2.8rem;
    --spacing-24:2.4rem;
    --spacing-20:2rem;
    --spacing-16:1.6rem;
    --spacing-12:1.2rem;
    --spacing-8:0.8rem;
    




    
}

/*Normalizar la pagina con css*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: var(--base-font);
    font-size: 62.50;
    /*color: var(--dark-solid);*/
}

a{
    text-decoration: none;
    color:inherit;
    font-family: inherit;
   
}

ul ,ol {
    list-style-type: none;
}

p{
    font-size: 1.8em;
}

header , footer{
    color:var(--light-font-solid);
    font-family: var(--alternative-font);
}

img{
    width: 100%;
}
 
.container{
    max-width: 1200px;
    margin: 0 auto;
}


.container{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
    height: 100%;
    background-color:var(--secundary-500);
    border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.boton{
    align-self: flex-start;
    display: flex;
    gap: 20px;
} 

.google-btn{
    background-color:var(--tertiary-solid);
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover{
    opacity: 0.75;
}

.google-btn picture{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img{
    width: 75%;
}

.google-btn span{
    color: var(--light-bg-solid);
    font-weight: 500;
    padding: 15px;
}

.facebook-btn{
    background-color:var(--tertiary-solid);
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.facebook-btn:hover{
    opacity: 0.75;
}

.facebook-btn picture{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-btn picture img{
    width: 75%;
}

.facebook-btn span{
    color: var(--light-bg-solid);
    font-weight: 500;
    padding: 15px;
}

.separater{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separater hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid var(--dark-bg-solid);

}

.separator span{
    color: var(--light-bg-solid);
}

.section-inputs{
    display: flex;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span{
    font-weight: 700;
}

.section-inputs label input{
    width: 80%;
    background-color:var(--light-bg-solid);;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input{
    width: 90%;
    background-color: var(--light-bg-solid);;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}

label input:hover{
    background-color: rgb(210, 233, 233);
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb4eb74f;
}

label input:focus{
    background-color: rgb(210, 233, 233);
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb4eb74f;
}

.checkbox-label{
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label span{
    font-weight: 400; 
}

.submit-btn{
    background-color: var(--tertiary-solid);
    color: var(--light-bg-solid);
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover{
    opacity: 0.75;
}

/*Inicio de resposivo del formulario*/

@media(max-width:780px){
    .container{
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        max-width: 500px;
        height: 100%;
        background-color: var(--secundary-500);
        border-radius: 12px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: var(--font-xxsmall);
    }

    .twitter-btn{
        color: var(--light-bg-solid);
        background-color:var(--tertiary-solid);
        border: none;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        
    }

    .boton{
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    } 

    .google-btn{
        background-color:var(--tertiary-solid);
        border: none;
        border-radius: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        justify-content: center;
    }

}

